/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Begining of my code*/


header{
    background-color: #3C3B3A;
    font-family: 'Raleway', sans-serif;
}

header img {
    display: block;
    height: 88px;
    width: 55px;
    margin: auto;
}


header nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}



header nav ul li a{
    padding: 2em;
    display: block;
    
}

header nav ul li a:link,
header nav ul li a:visited{
    background-color:#3C3B3A;
    text-decoration:none;
    color: white;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li a.active {
    font-weight: bold;
}

body{
    font-family: 'Raleway', sans-serif;
}

.wrapper{
   margin: 28px;
   text-align: center;
}


.yourarc h1{
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.yourarc p{
    font-size: 20px;
    text-align: left;
}

.activities{
    display: grid;
}

.bowllgo .climblgo .fitlgo .courtlgo{
    width: 114px;
    height: auto;
}

.activities{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 20px;
}

.button1 button{
    padding: 15px;
    background-color:#26A682;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 50px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.discimg img{
    padding: 10px;
    width: 399px;
    
}

.scroll {
    transform: rotate(180deg);

}

.scroll figcaption{
    transform: rotate(180deg);
}


.discacimg img{
    width: calc(100% + 56px);
    margin-left: -28px;
    height: 200px;
}

.discactxt h2{
    font-size: 32px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.discactxt h3{
    font-size: 24;
    text-align: left;
    color: #26A682;
}

.discactxt p{
    font-size: 16px;
    text-align: left;
}

