/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Begining of my code*/

/* Header Stlying */
header{
    background-color: #3C3B3A;
    font-family: 'Raleway', sans-serif;
}
/* Header Image Stying */
header img {
    display: block;
    height: 88px;
    width: 55px;
    margin: auto;
}

/* Nav Uls */

header nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

/* Active ul */

header nav ul li a{
    padding: 2em;
    display: block;
    
}

/* Nav styling */

header nav ul li a:link,
header nav ul li a:visited{
    background-color:#3C3B3A;
    text-decoration:none;
    color: white;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li a.active {
    font-weight: bold;
}

/* Fonts */

body{
    font-family: 'Raleway', sans-serif;
}

/* General Margin */

.wrapper{
   margin: 28px;
   text-align: center;
}

/* h1 Styles  */

h1{
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

/* Your Arc p Styles */

.yourarc p{
    font-size: 20px;
    text-align: left;
}




/* Act icon sizing */

.bowllgo .climblgo .fitlgo .courtlgo{
    width: 114px;
    height: auto;
}

/* Activity Grid */

.activities{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 20px;
}

/* Button 1 Styles */

.button1 button{
    padding: 15px;
    background-color:#26A682;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 50px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 5px grey;

}

/* Button Anim */

.button1 button:hover{
    animation: buttonpress 0.5s ease-in-out forwards;
}

/* Discover image sizing */

.discimg img{
    padding: 10px;
    width: 399px;
    
}

/* Rotate Scroll div */

.scroll {
    transform: rotate(180deg);

}

/* Unrotate Figcap */

.scroll figcaption{
    transform: rotate(180deg);
}

/* Dicsover AC Image */

.discacimg img{
    width: calc(100% + 56px);
    margin-left: -28px;
    height: 200px;
}

/* Text Stlyings */
 h2{
    font-size: 32px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-top: 30px;
}

 h3{
    font-size: 24;
    text-align: left;
    color: #26A682;
}

 p{
    font-size: 16px;
    text-align: left;
    padding-bottom: 30px;
}

/* Discover AC button */

.discactxt button{
    padding: 15px;
    background-color:#26A682;
    height: 55px;
    width: 45%;
    border: none;
    border-radius: 50px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 5px grey;
    
}

/* Button Anim */

.discactxt button:hover{
    animation: buttonpress 0.5s ease-in-out forwards;
}

/* Additional Spacing */

.discactxt {
    padding-bottom: 30px;
}

/* Simon box */

.simon{
    width: calc(100% + 56px);
    margin-left: -28px;
    background-color: #3C3B3A;
}

/* Simon image */

.simon img{
    width: 175px;
    height: auto;
    border-radius: 100%;
    border: 2px solid white;
}

/* Simon head text */

.simon h4{
    font-weight: bold;
    color: white;
    font-size: 24px;
}

/* Simon Paragraph */

.simon p{
    margin: 28px;
    color: white;
    line-height: 3.5;
}

/* Discover Entertainment */

.discover-ent .discentimg img{
    width: calc(100% + 56px);
    margin-left: -28px;
}

/* Discover Button */

.disctxt button{
    padding: 15px;
    background-color:#26A682;
    height: 55px;
    width: 45%;
    border: none;
    border-radius: 50px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 5px grey;    
}

/* Button Anim */
.disctxt button:hover{
    animation: buttonpress 0.5s ease-in-out forwards;
}

/* Footer */

footer{
    width: 100%;
    background-color: #3C3B3A;
    scroll-padding-bottom: 30px;
}

/* Social Media Grid */

.socials{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);

}

/* Footer Text */

footer p{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}

/* Social Icons */

.socicon{
    grid-row: 2/span 2;
    grid-column: 2/span 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;

    
}

.socicon img:nth-child(1){
    grid-row: 1/span1;
    grid-column: 1;
}

.socicon img:nth-child(2){
    grid-row: 1/span1;
    grid-column: 2;
}

.socicon img:nth-child(3){
    grid-row: 1/span1;
    grid-column: 3;
}

.socicon img:nth-child(4){
    grid-row: 1/span1;
    grid-column: 4;
}

/* Scroll Bottom */

.scroll-btm {
    grid-row: 1/span1;
    grid-column: 4;
}

/* Figcap */

.scroll-btm figcaption{
    color: white;
    text-align: left;

}

/* Construction Image */

.constuction img{
    width: 100%;
    height: a;
}

/* About Banner */

.about-banner{
    background-image: url(../images/about.jpg);
    height: 200px;
    color:#26A682; 
    width: calc(100% + 56px);
    margin-left: -28px;
    
}

/* Banner Text */

.about-banner p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

/* Sevice Banner */

.services-banner{
    background-image: url(../images/services.jpg);
    height: 200px;
    color:#26A682; 
    width: calc(100% + 56px);
    margin-left: -28px;
    
}

/* Banner Text */

.services-banner p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

/* Image Removal */

.nabimg img{
    display: none;
}

.compimg img{
    display: none;
}

.nynmimg img{
    display: none;
}

.climbimg img{
    display: none;
}

/* Keep up styling */

.keepup{
    width: calc(100% + 56px);
    margin-left: -28px;
    background-color: #3C3B3A;
    color: white;
    font-size: 18px;
    
}

/* Keep Up Paragraph*/

.keepup p{
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
}

/* Keep Up Button */

.keepup button{
    padding: 15px;
    background-color:#26A682;
    height: 55px;
    width: 45%;
    border: none;
    border-radius: 50px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 15px;
}

/* Button Anim */

.keepup button:hover{
    animation: buttonpress 0.5s ease-in-out forwards;
}

/* Thanks Text */

.thxtxt{
    font-size: 56px;
    font-weight: bold;
    text-align: center;
}

/* Thx Images  */

.thximg :nth-child(1){
    width: 100%;
    padding-top: 40px;
}

.thximg :nth-child(2){
    width: 100%;
}

.thximg :nth-child(3){
    width: 100%;
}

.thximg :nth-child(4){
    width: 100%;
}

/* Contact Image */

.contactimg img{
    width: 100%;
}

/* contact form box */

.contactform{
    background-color: #26A682;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    color: white;
}

/* Contact Form itself */

.contactform fieldset{
    font-size: 16px;
    color: #9B9B9B;
    text-align: center;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    padding-left: 22px;
}

/* Contact Form Inputs */

.contactform fieldset input{
    border-radius: 16px;
    height: 40px;
    background-color: #F4F4F5;
    border: none;
    width: 99%;
}

/* Contact Form Button */

form button{
    padding: 15px;
    background-color:#3C3B3A;
    height: 55px;
    width: 45%;
    border: none;
    border-radius: 50px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 5px grey;
}

/* Button Anim */

form button:hover{
    animation: imgspin 1s ease-in-out forwards;
}

/* Additional Space */

.location{
    padding-top: 20px;
}

/* Map Styling */

.map{
    width: calc(100% + 56px);
    margin-left: -28px;
}

/* Media Querry for tablet view  */
@media (min-width:35rem) {

/* Nav Styling */

    header{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
    }

    header img{
        grid-row: 1;
        grid-column: 1;
    }

    header nav{
        grid-row: 1;
        grid-column: 4/span 3; 
    }


    /* Using flex to order list items horozontaly */
    header nav ul {
        display: flex;
        
      }
    
      /* With the 4 list items set at 25% they fill up the nav space given */
      header nav ul li{
        width: 33.3333%;
      }   

      /* Activities Reorentation  */

    .activities{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr; 
    }

/* Icon Grid Locations */

    .bowllgo{
        grid-row: 1;
        grid-column: 1;
    }

    .climblgo{
        grid-row: 1;
        grid-column: 2;
    }

    .fitlgo{
        grid-row: 1;
        grid-column: 3;
    }

    .courtlgo{
        grid-row: 1;
        grid-column: 4;
    } 

/* Simon Box Grid */

    .simon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
      }
      
      .simon img {
        width: 175px;
        height: auto;
      }
      
      .headtxt {
        grid-row: 2;
      }
      
      .paratxt {
        grid-row-start: 1;
        grid-row-end: 3;
      }

    .headtxt {
        grid-row: 2;
        grid-column: 1;  
    }

    .paratext {
        font-weight: bold;
        grid-row-start: 1;
        grid-row-end: 3;;
    
    }
    
    .paratxt p{
        line-height: normal;
    }

/* Services Tablet Orentation */

    .services{
        padding-top: 30px;
    }

    .nab{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .nabimg img{
        display: grid;
        width: 218px;
        height: 374.51px;
        grid-row: 1;
        grid-column: 1; 
    
    }

    .nabtxt{
        grid-row: 1;
        grid-column: 2/span 2;   
        width: 85%;
        
    }

    .comp{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .compimg img{
        display: grid;
        width: 218px;
        height: 374.51px;
        grid-row: 1;
        grid-column: 3; 
    }

    .comptxt{
        grid-row: 1;
        grid-column: 1/span 2;   
        width: 85%;
    }
    
    
    .nynm{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .nynmimg img{
        display: grid;
        width: 218px;
        height: 374.51px;
        grid-row: 1;
        grid-column: 1; 
    }
    
    .nynmtxt{
        grid-row: 1;
        grid-column: 2/span 2 ; 
        width: 85%;  
    }

    .climb{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
    }

    .climbimg img{
        display: grid;
        width: 218px;
        height: 374.51px;
        grid-row: 1;
        grid-column: 3; 
    }

    .climbtxt{
        grid-row: 1;
        grid-column: 1/span 2;   
        width: 85%;
    }

/* Tablet Font Styles */

    h1{
        font-weight: bold;
        font-size: 72px;
        text-align: left;
    }

    h2{
        font-size: 40px;
        text-align: left;
        font-weight: bold;
        font-style: italic;
        padding-top: 30px;
    }
    
     h3{
        font-size: 32px;
        text-align: left;
        color: #26A682;
    }
    
     p{
        font-size: 18px;
        text-align: left;
        padding-bottom: 30px;
    }

}

 /* Media Querry for PC or Fullscreen view  */ 
 @media (min-width:80rem) {
 
/* Top of home page grid */

    .topbox {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
    }

    /* Discover AC styling */

    .discover-ac{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: #F2F2F2;
        width: calc(100% + 56px);
        margin-left: -28px;
        justify-items: center;
        align-items: center;
    }

    .discacimg{
        width: 60%;
        height: auto;

    }
    
/* Simon Reorientation */

    .simon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
      }
      
      .headtxt {
        grid-row: 1;
      }
      
      .paratxt {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column: 3;
      }

    .headtxt {
        grid-row: 1;
        grid-column: 2;  
    }

    .paratext {
        font-weight: bold;
        grid-row-start: 1;
        grid-row-end: 3;
    
    }

/* Discover Entertainment */

    .discover-ent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: #F2F2F2;
        width: calc(100% + 56px);
        margin-left: -28px;
        justify-items: center;
        align-items: center;
    }

    .discentimg img{
        margin-left: 0px;
    }

    .disctxt {
        width: 75%;
    }
    
/* Contruction Section Grid */

    .constuction{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;  
    }

/* 3 W's grid */

    .wx3{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        align-items: center;
    }

/* Image Resizing */

    .nabimg img{
        width: 100%;
    }

    .compimg img{
        width: 100%;
    }

    .nynmimg img{
        width: 100%;
    }
    
    .climbimg img{
        width: 100%;
    }
    
/* Thank You Images Grid */

    .thximg{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        align-items: center;
        padding-top: 30px;
    }

    .thxtxt{
        padding-top: 30px;
        padding-bottom: 30px;
    }

/* Contact form Grid */

    .conttop{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
    }

    .wewanttoheartxt{
        width: 85%;
    }
    
    .contactform{
        width: 85%;
    }

/* Location Grid */

    .location{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
    }

    .loactiontxt{
        width: 85%;
    }

    .map{
        width: 85%;
    }


 }

/* Animations */

@keyframes buttonpress{
  0%{
   
    transform: scale(1.1);
  }
  
  100%{
    transform: scale(1);
  }
}

@keyframes imgspin{
    0%{
      transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }
  




