* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7FF;
}

.img1 img{
    width: 114.73px;
    height: auto;
}


.top-text h1{
    font-size: 60px;
    font-weight: bold;
}

.top-text h2{
    font-size: 24px;
    font-weight: normal;
}

.img2 {
    width: 289.23;
    height: auto;
    margin: auto;
}

.contact h1{
    font-size: 40px;
}

.contact h2{
    font-size: 16px;
    font-weight: normal;
}

.wrapper {
    margin: 2em;
}

.contact form {
    padding: 2em;
}

.contact fieldset input {
    width: 100%;
}

.contact form{
    background-color: #FFFFFF;
    border-radius: 25px;
    border: black;
    box-shadow: 2px 2px 2px 2px ;  
}

.contact fieldset{
    font-size: 16px;
    color: #9B9B9B;
    text-align: center;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact fieldset input{
    border-radius: 16px;
    height: 40px;
    background-color: #F4F4F5;
    
}


.contact fieldset:nth-child(5){
color: #333131;
}

.contact input[type=checkbox]{
width: 25px;
height: 25px;
}

form button{
    padding: 15px;
    background-color: #57EEAB;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 15px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

a:link, a:visited{
    color:#FF8480;
}


footer{
    background-color: #FFFD8C;
    padding: 36px;
    
}

footer h3{
    font-size: 18px;
    padding-bottom: 10px;
}

footer p{
    font-size: 16px;
    padding-bottom: 15px;
}


footer form{
    display: flex;
}

footer form fieldset{
    border: none;
    padding: 5px;
    padding-bottom: 20px;

}

footer form fieldset input{
    height: 55px;
    font-size: 16px;
    border-radius: 15px;
}


footer button{
    background-color: #FF8480;
    color: #F7F7FF;
    padding: 15px;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 15px;  
    margin: auto;
    font-size: 24px;
    font-weight: bold;

}

.socials{
    margin: auto;
}

.socials img{
    padding: 15px;
    

}

@media only screen and (min-width: 700px) {
    
    .top-text h1{
        font-size: 80px;
    }
    .img2 {
        width: 420px;
    }   
    
    footer button{
        width: 30%;
        display: flex;
        align-self: flex-start;
    }

}

@media only screen and (min-width: 950px) {
    .wrapper{
        display: grid;
        grid-template-columns: repeat(3);
        grid-template-rows: repeat(3);
    }

    .img1{
        grid-column: 1;
        grid-row: 1;
    }
    
    .top-text{
        grid-column: 1;
        grid-row: 2;   
    }
    
    .img2{
        width: 819px;
        height: 599px;
        grid-column: 2;
        grid-row: 2/span 3;
    }

    .contact{
        grid-column: 3;
        grid-row: 2/span 3;
    }


}